<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container-fluid">
    <%= link_to 'Home', root_path, class: "navbar-brand" %>
    <div class="navbar-collapse">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <%= link_to 'Items', items_path, class:'nav-link' %>
        </li>
      </ul>
    </div>
  </div>
</nav>